// VEGETABLES

.icon_apple {
    background-image: url(../icons/fruits/apple.svg);
}

.icon_apricot {
    background-image: url(../icons/fruits/apricot.svg);
}

.icon_artichoke {
    background-image: url(../icons/vegetables/artichoke.svg);
}

.icon_asparagus {
    background-image: url(../icons/vegetables/asparagus.svg);
}

.icon_beans {
    background-image: url(../icons/vegetables/beans.svg);
}

.icon_beet {
    background-image: url(../icons/vegetables/beet.svg);
}

.icon_pepper {
    background-image: url(../icons/vegetables/pepper.svg);
}

.icon_blueberry {
    background-image: url(../icons/fruits/blueberries.svg);
}

.icon_broccoli {
    background-image: url(../icons/vegetables/broccoli.svg);
}

.icon_brussels-sprouts{
    background-image: url(../icons/vegetables/brussels-sprouts.svg);
}

.icon_cabbage-head {
    background-image: url(../icons/vegetables/cabbage.svg);
}

.icon_cabbage-2 {
    background-image: url(../icons/vegetables/cabbage-2.svg);
}

.icon_carrot {
    background-image: url(../icons/vegetables/carrot.svg);
}
.icon_cauliflower {
    background-image: url(../icons/vegetables/cauliflower.svg);
}

.icon_celery {
    background-image: url(../icons/vegetables/celery.svg);
}

.icon_chard {
    background-image: url(../icons/vegetables/chard.png);
}

.icon_cherry {
    background-image: url(../icons/fruits/cherry.svg);
}

.icon_chestnut{
    background-image: url(../icons/fruits/chestnut.svg);
}

.icon_chicory {
    background-image: url(../icons/vegetables/chicory.jpeg);
}

.icon_clementine {
    background-image: url(../icons/fruits/clementine.svg);
}

.icon_cucumber {
    background-image: url(../icons/vegetables/cucumber.svg);
}

.icon_eggplant {
    background-image: url(../icons/vegetables/eggplant.svg);
}

.icon_fava-beans {
    background-image: url(../icons/vegetables/fava.png);
}

.icon_fennel {
    background-image: url(../icons/vegetables/fennel.svg);
}

.icon_fig {
    background-image: url(../icons/fruits/fig.svg);
}

.icon_garlic {
    background-image: url(../icons/vegetables/garlic.svg);
}

.icon_grape {
    background-image: url(../icons/fruits/grape.svg);
}

.icon_grapefruit {
    background-image: url(../icons/fruits/grapefruit.svg);
}

.icon_green-beans {
    background-image: url(../icons/vegetables/green-bean.jpeg);
}

.icon_persimmon {
    background-image: url(../icons/fruits/persimmon.png);
}

.icon_kiwi {
    background-image: url(../icons/fruits/kiwi.svg);
}

.icon_leek {
    background-image: url(../icons/vegetables/leek.svg);
}

.icon_lemon{
    background-image: url(../icons/fruits/lemon.svg);
}

.icon_lettuce {
    background-image: url(../icons/vegetables/lettuce.svg);
}

.icon_medlar {
    background-image: url(../icons/fruits/medlar.png);
}

.icon_melon {
    background-image: url(../icons/fruits/melon.svg);
}

.icon_onion {
    background-image: url(../icons/vegetables/onion.svg);
}

.icon_orange {
    background-image: url(../icons/fruits/orange.svg);
}

.icon_parsley {
    background-image: url(../icons/vegetables/parsley.svg);
}

.icon_peach {
    background-image: url(../icons/fruits/peach.svg);
}

.icon_pear {
    background-image: url(../icons/fruits/pear.svg);
}

.icon_pea {
    background-image: url(../icons/vegetables/peas.svg);
}

.icon_pepper {
    background-image: url(../icons/vegetables/pepper.svg);
}

.icon_plum {
    background-image: url(../icons/fruits/plum.svg);
}

.icon_pumpkin {
    background-image: url(../icons/vegetables/pumpkin.svg);
}

.icon_radicchio {
    background-image: url(../icons/vegetables/radicchio.png);
}

.icon_raspberry {
    background-image: url(../icons/fruits/raspberry.svg);
}

.icon_savoy-cabbage {
    background-image: url(../icons/vegetables/savoy-cabbage.png);
}

.icon_spinach {
    background-image: url(../icons/vegetables/spinach.svg);
}

.icon_strawberry {
    background-image: url(../icons/fruits/strawberry.svg);
}

.icon_tangerine {
    background-image: url(../icons/fruits/tangerine.svg);
}

.icon_tomato {
    background-image: url(../icons/vegetables/tomato.svg);
}

.icon_walnut {
    background-image: url(../icons/fruits/walnut.svg);
}

.icon_watermelon {
    background-image: url(../icons/fruits/watermelon.svg);
}

.icon_zucchini {
    background-image: url(../icons/vegetables/zucchini.svg);
}

.icon_banana {
    background-image: url(../icons/fruits/banana.svg);
}

.icon_pomegranate {
    background-image: url(../icons/fruits/pomegranate.svg);
}

.icon_avocado {
    background-image: url(../icons/fruits/avocado.svg);
}

//***********************
//ALLERGENS

.icon_gluten {
  background-image: url(./../icons/allergens/wheat.svg);
}

.icon_seeds {
  background-image: url(./../icons/allergens/seeds.svg);
}

.icon_lactose {
  background-image: url(./../icons/allergens/milk.svg);
}

.icon_eggs {
  background-image: url(./../icons/allergens/egg.svg);
}

.icon_nuts {
  background-image: url(./../icons/allergens/nuts.svg);
}

.icon_soy {
  background-image: url(./../icons/allergens/soy.svg);
}

// RECIPE GENERICS

.icon_fish {
  background-image: url(./../icons/recipe-type/fish.svg);
}

.icon_meat {
  background-image: url(./../icons/recipe-type/meat.svg);
}

.icon_vegan {
  background-image: url(./../icons/recipe-type/plant.svg);
}

.icon_vegetarian {
  background-image: url(./../icons/recipe-type/meatless.svg);
}

.icon_sweet {
  background-image: url(./../icons/recipe-type/sweet.svg);
}

.icon_time {
  background-image: url(./../icons/recipe-type/timer.svg);
}
