// Using camel case here to match CSSTransition's fields for the classNames prop
// see https://reactcommunity.org/react-transition-group/css-transition#CSSTransition-prop-classNames

.enter {
  opacity: 0;
}

.enterActive {
  opacity: 1;
  transition: opacity 150ms ease-in-out;
}

.enterDone {
  opacity: 1;
  pointer-events: initial;
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
