@use 'colours';
@use 'borders';

$radius: 8px;

.container {
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(51, 51, 51, 0.8);
  z-index: 2000;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3000;
}

.dialog {
  display: flex;
  flex-direction: column;
  min-width: 620px;
  border-radius: 8px;
  overflow: hidden;
  max-height: 90vh;
}

.header {
  display: flex;
  height: 50px;
  padding: 0 16px;
  background-color: honeydew;
  color: #333333;
  align-items: center;
  font-weight: 400;
  flex-shrink: 0;
}

.title {
  font-size: 18px;
  flex-grow: 1;
  &:first-letter {
    color: orangered;
  }
}

.close {
  background: none;
  border: none;
  color: #333333;
  outline: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  text-align: right;
  cursor: pointer;
}

.body {
  background: honeydew;
  padding: 16px;
}
