// Using camel case here to match CSSTransition's fields for the classNames prop
// see https://reactcommunity.org/react-transition-group/css-transition#CSSTransition-prop-classNames

.appear {
  transform: translateY(-100%);
}

.appearActive {
  transform: translateY(0);
  transition: transform 150ms ease-out;
}

.appearDone {
  transform: translateY(0);
}

.exit {
  transform: translateY(0);
}

.exitActive {
  transform: translateY(-100%);
  transition: transform 150ms ease-out;
}
