@use '../../../assets/scss/partials/colors' as c;

.month_container {
  @media(max-width: 500px) {
    padding: 80px 15px ;
  }
  padding:10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media(min-width: 768px) {
    height: 65vh;
  }
}

.month_container header {
  text-align: center;
}

.month_name {
  @media(max-width: 500px) {
    margin-bottom: 0;
  }
  color: c.$black;
  font-size: 1.5rem;
  margin-bottom: 20px;
  &:first-letter {
    color: c.$orange;
  }

}
