.wrap {
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
}

.row_reverse {
  display: flex;
  flex-direction: row-reverse;
}

.column {
  display: flex;
  flex-direction: column;
}

.jc_sb {
  justify-content: space-between;
}

.jc_c {
  justify-content: center;
}

.jc_a {
  justify-content: space-around;
}

.ai_c {
  align-items: center;
}
