@use '../../../assets/scss/partials/colors';

.list_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list_container, .type {
  display: flex;
  justify-content: center;
}


.type {
  text-transform: lowercase;
  align-items: center;
  flex-direction: column;
  font-weight: 400;
  color: colors.$orange;
}
