@use '../../../assets/scss/partials/colors';

$border-width: 2px;
$border-radius: 8px;
$layout-padding-lg: 20px;

.container {
  width: 100%;
  padding-top: 20px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
  @media(max-width: 500px) {
    margin-top: 70px;
  }
  @media(min-width: 768px) {
    margin-top: 0;
    padding: 0;
  }
  @media(min-width: 1024px) {
    width: auto;
  }
}

.page_title {
  font-size: 1.5rem;
  font-weight: 400;
  .selected_ingredient {
    padding-right: 10px;
    text-transform: capitalize;
  }

  &:first-letter{
    color: colors.$orange;
    font-weight: 600;
  }
}

.card_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

