@use '../../../assets/scss/partials/colors';

.link {
  text-decoration: none;
  color: colors.$black;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);
    p {
      font-weight: 400;
    }
    & p:first-letter{
      color: colors.$orange;
    }
  }
}
