.container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: honeydew;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px 0 20px 10px;
  h1 {
    font-family: 'Mali', cursive;
    padding-right: 10px;
    font-size: 2rem;
  }
  @media(min-width: 500px) {
    padding: 10px 20px;
    position: relative;
    display: block;
    height: 50px;
    margin-bottom: 20px;
  }
  @media(min-width: 768px) {
    padding: 20px 0;
    height: auto;
    margin-bottom: 0;
  }
  .subtitle {
    display: none;
    @media(min-width: 500px) {
      display: block;
      padding-left: 20px;
    }
  }
}

h1, .subtitle {
  color: #56a579;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.Leaf {
  fill: #56a579;
  width: 30px;
}
